<a href="https://colab.research.google.com/github/priyanshu1204/python/blob/main/22051871_Assignment0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World')

Hello World

In [ ]:
a =5
b =6
sum = a+b
print(sum)

11

In [ ]:
num = float(input("enter a number: "))
sqrt = num * 0.5
print(sqrt)

enter a number: 6
3.0

In [ ]:
a =23
b =16
c =34
s = (a + b + c) / 2
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print(area)

158.91330183467966

In [ ]:
import cmath
a =2
b =4
c =8
d = (2*b)-(4*a*c)
rt1 = (-b-cmath.sqrt(d))/(2*a)
rt2 = (-b+cmath.sqrt(d))/(2*a)
print("the solutoions are ".format(rt1 , rt2))

the solutoions are

In [1]:

x = 5
y = 10
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 10
The value of y after swapping: 5

In [2]:
import random

print(random.randint(0,9))

0

In [3]:

kilometers = float(input("Enter value in kilometers: "))
conv_fac = 0.621371
miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter value in kilometers: 4
4.00 kilometers is equal to 2.49 miles

In [4]:

celsius = 37.5
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

37.5 degree Celsius is equal to 99.5 degree Fahrenheit

In [5]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 5
Positive number

In [6]:

num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 34
34 is Even

In [7]:
year = int(input("Enter a year: "))
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

Enter a year: 2004
2004 is a leap year

In [8]:
num1 = 10
num2 = 14
num3 = 12

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 14

In [9]:
num = int(input("Enter a number: "))
flag = False

if num == 0 or num == 1:
    print(num, "is not a prime number")
elif num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            flag = True
            break
    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

Enter a number: 4
4 is not a prime number

In [10]:

num = 7

factorial = 1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040